%h4 Add a new Task
= form_for [@task] do |t|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'new task name'
  .form-group
    = f.submit 'Add task', class: 'btn  btn-success'
