%h4 Add a new Task
= form_for current_user.tasks.build, remote: true do |f|
  .form-group
    = f.text_field :title, class: 'form-control', placeholder: 'Add new task'
  .form-group
    = f.submit 'Add task', class: 'btn  btn-success'
